ion-header { // Afecta a todos los elementos dentro de <ion-header>
  ion-toolbar { // Hace transparente la barra de navegacion
    --background: rgba(0,0,0,0);
  }

  h4 { //Afecta a todos los h4 dentro de <h4>
    font-weight: bold; //Pone en negrita el texto
    font-size: 24px; //Tamaño de la fuente
  }

 .titles { //Afecta a todos los elementos con class="titles"
   padding: 0 2rem; //espaciado de 0 arriba y abajo y 2rem a los lados
 }

}


ion-content { //Afecta a todos los elementos dentro de <ion-content>
  //esta clase se usa para cuando se muestra un evento en pantalla y esta activo
  //se ve de un color mas vivo
  .active { //Afecta a todos los elementos con class="active"

    background-color: #F0F0EC; //Color de fondo
    border: 3px solid #527D65; //Borde de 3px solido de color #527D65
    color: black; //Color del texto

   ion-card-title { //Afecta a el titulo de las card
     font-weight:  900; //Hace grande el texto
     color: #527D65; //Color del texto
   }

  }

  .inactive { //Afecta a todos los elementos con class="inactive"
    //esta clase se usa para cuando se muestra un evento en pantalla pero no esta activo
    //se ve de un color mas apagado
    background-color: grey; //Color de fondo
    border: 3px solid black; //Borde de 3px solido
    color: black; //Color del texto

    opacity: .5; //Opacidad del 50%

   ion-card-title {
     font-weight:  900;
     color: #527D65;
   }

  }

  .quote{ //Afecta a todos los elementos con class="quote"
    //esta clase se usa para mostrar la cita de la API
    background-color: #527D65; //Color de fondo
    border: 3px solid #F0F0EC; //Borde de 3px solido
    ion-card-title { //Afecta a lo que va a ser la cita
      font-weight:  600; //Hace grande el texto de la cita
      color: #F0F0EC; //Color del texto
    }
    ion-card-subtitle { //Afecta a lo que va a ser el autor de la cita
      color: black; //Color del texto
    }
  }
}