ion-header {
  ion-toolbar {
    --background: rgba(0,0,0,0);
  }

  h4 {
    font-weight: bold;
    font-size: 24px;
  }

 .titles {
   padding: 0 2rem;
 }

 ion-searchbar {
   --background: rgba(0,0,0,.04);
   --box-shadow: none;
   --border-radius: 6px;
 }

 img {
   transform: scale(1.2, 1.2);
   opacity: .2;
   position: absolute;
   top: -120px;
   mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
   -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
 }

}


ion-content {
  .active {

    background-color: #F0F0EC;
    border: 3px solid #527D65;
    color: black;

   ion-col {
     ion-img {
       position: relative;
       bottom: 36px;
       width: 120px;
     }
   }

   .mask {
     img {
       width: 220px;
       position: absolute;
       bottom: 0px;
       left: 160px;
       mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
       -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
     }
   }

   ion-badge {
     margin-top: 8px;
     background: rgba(0,0,0,.2);
   }

   ion-card-title {
     font-weight:  900;
     color: #527D65;
   }

   .no {
     color: rgba(0,0,0,.66);
     font-weight: bold;
   }

  }

  .inactive {

    background-color: grey;
    border: 3px solid black;
    color: black;

    opacity: .5;

   ion-col {
     ion-img {
       position: relative;
       bottom: 36px;
       width: 120px;
     }
   }

   .mask {
     img {
       width: 220px;
       position: absolute;
       bottom: 0px;
       left: 160px;
       mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
       -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,.1), rgba(0,0,0,0));
     }
   }

   ion-badge {
     margin-top: 8px;
     background: rgba(0,0,0,.2);
   }

   ion-card-title {
     font-weight:  900;
     color: #527D65;
   }

   .no {
     color: rgba(0,0,0,.66);
     font-weight: bold;
   }

  }

  .quote{
    background-color: #527D65;
    border: 3px solid #F0F0EC;
    ion-card-title {
      font-weight:  600;
      color: #F0F0EC;
    }
    ion-card-subtitle {
      color: black;
    }
  }
}