*{ //afecta a todo
  background-color: #F0F0EC;  //color de fondo
  color: black;//color de letra
} 

ion-header { //afecta a los elementos que estan dentro de <ion-header>

  ion-title{ //afecta a los elementos que estan dentro de <ion-title>
    display: flex;
    padding: 0%;
    //para acomodar el titulo
  }

  h4 { //afecta a los elementos que estan dentro de <h4>
    font-weight: bold; //negrita
    font-size: 20px; //tamaño de letra
    color: black; //color de letra
  }

  .titles { //afecta a los elementos que estan dentro de una etiqueta con class="titles"  
    padding: 0 2rem; //espaciado
  }

  img { //afecta a los elementos que estan dentro de <img>
    //Acomoda la imagen en el fondo de la pantalla con un degradado 
    transform: scale(1.2, 1.2);
    opacity: .4;
    position: absolute;
    top: -120px;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  }
  
}
  
  
ion-content { //afecta a los elementos que estan dentro de <ion-content>
  --background: #F0F0EC; //color de fondo de todo el contenido

  padding: 5%; //espaciado de todo lo que este dentro del contenido
  align-items: center; //centra los elementos
  justify-content: center; //centra los elementos
    

  ion-badge { //afecta a los elementos que estan dentro de <ion-badge>
    margin-top: 5px; //espaciado de los elementos que le queden arriba
    margin-bottom: 5px; //espaciado de los elementos que le queden abajo
    margin-right: 5px; //espaciado de los elementos que le queden a la derecha
    background: #ACB9B0; //color de fondo
  }

  h4 { //afecta a los elementos que estan dentro de <h4>
    //Para titulos
    font-weight: bold; //negrita
    font-size: 30px; //tamaño de letra
    color: #527D65; //color de letra
  }

  h6 { //afecta a los elementos que estan dentro de <h6>
    //Para subtitulos
    font-weight: bold; //negrita
    font-size: 20px; //tamaño de letra
    color: #527D65; //color de letra
  }
}